.ServicesCardContainerWide{
    @apply flex flex-col items-end justify-end w-full h-[193px] relative overflow-hidden rounded-md
    sm:w-[65%]
    md:w-[65%] md:h-auto md:min-h-[253px]
    lg:h-[360px]
    transition-all ease-in-out duration-300
}
.ServicesCardContainerSmall{
    @apply flex flex-col items-center justify-center w-full h-[193px] relative overflow-hidden rounded-md
    sm:w-[65%]
    md:w-[35%] md:h-auto md:min-h-[253px]
    lg:h-[360px]
    transition-all ease-in-out duration-300
}
.ServicesCardImg{
    @apply w-full h-full
    md:h-[253px]
    lg:h-full
}

.ServicesCardTitle{
    @apply absolute bottom-0 left-0 p-6 text-[#FFFFFF] text-2xl font-medium
    md:text-xl
    lg:text-2xl
}