.FooterContainer{
    @apply flex flex-col items-center justify-center w-full
}
.FooterContent{
    @apply flex flex-col items-center justify-between w-full bg-[#FFFFFF] py-10 px-6 space-y-10
    md:flex-row md:space-y-0 md:p-10
    lg:p-20
}
.FooterCopy{
    @apply bg-[#000000] px-6 w-full py-6 flex flex-row items-center justify-between
    md:px-10
    lg:px-20
}
.FooterCopyText{
    @apply text-[#FFFFFF] text-xs
}
.FooterCopySocial{
    @apply flex flex-row items-center space-x-4
}
.FooterCopySocialIcons{
    @apply fill-[#F2F2F2] w-4 h-4 cursor-pointer
}
.FooterLeft{
    @apply flex flex-col items-start justify-center w-full
    md:w-[30%]
}
.FooterMiddle{
    @apply flex flex-row items-start justify-between w-full space-x-4
    md:w-[30%]
}
.FooterMiddle ul{
    @apply flex flex-col items-start justify-center w-full
}
.FooterRight{
    @apply flex flex-col items-start justify-center w-full
    md:w-[30%]
}
.FooterDesc{
    @apply text-xs mt-6 font-medium text-[#383838]
}
.FooterLogo{
    @apply w-[140px] h-auto
    md:w-[140px]
}
.FooterSocial{
    @apply flex flex-row items-center mt-6 space-x-4
}
.FooterSocialIcons{
    @apply fill-[#383838] w-4 h-4
}
.FooterMiddleTitle{
    @apply text-lg font-semibold text-[#383838]
}
.FooterLi{
    @apply text-sm mt-3 text-[#383838]
}
.FooterLiC{
    @apply text-sm mt-3 text-[#383838] flex flex-row items-center font-medium
}
.FooterLiIcons{
    @apply fill-[#383838] w-4 h-4 mr-2
}

.FooterRightInput{
    @apply w-full h-11 mt-4 rounded-md
    flex flex-row justify-between items-center overflow-hidden
    md:w-[90%] md:mt-6 md:h-12

}
.FooterRightInput input{
    @apply w-full h-full px-4 text-[#1C1C1C] bg-[#FFFFFF] text-[0.68rem] border-2 border-[#cecece] border-r-0
    outline-none
    md:text-xs
}
.FooterRight button{
    @apply w-1/3 h-full px-4 text-[#FFFFFF] bg-[#1341EC] cursor-pointer text-[0.68rem]
    outline-none transition duration-500 ease-in-out
    md:text-xs
}
.FooterRightTitle{
    @apply text-xl font-semibold text-[#383838]
}